
body {
font-family: 'DM Sans', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}


.hamburger-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    cursor: pointer;
}

.grid-container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-height: 600px;
   }
   .grid-container2  {
    
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-height: 600px;
    column-gap: 80px;
   }

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    
    }

.button {
    padding: 16px 56px 16px 56px;
    border-radius: 0px;
    background-color: pink;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: medium;
    font-size: 16px;
}

.button:hover {
    padding: 16px 56px 16px 56px;
    border-radius: 0px;
    background-color: black;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: medium;
    font-size: 16px;
    cursor: pointer;
}

.bakery {
    background-color: pink;
    padding: 40px;

}

.bakery2 {
    background-color: white;
    color: black;
    padding: 20px;
}

.forum {
    background-color: #FFF0F5;
    font-weight: bold;
    font-size: 40px;
}

.input {
    width: 50%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }